In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(
  np.random.rand(100, 2) / [50, 50] + [35.69, 139.70],
  columns=['lat', 'lon']
)
df

          lat         lon
0   35.691364  139.706054
1   35.690429  139.712274
2   35.695350  139.718574
3   35.706425  139.712221
4   35.708746  139.708391
..        ...         ...
95  35.700078  139.715460
96  35.709900  139.716343
97  35.701575  139.707986
98  35.697579  139.717220
99  35.696723  139.719705

[100 rows x 2 columns]